.container {
  display: flex;
  flex-direction: column;
  margin: 40px auto 0;
  
  @media(min-width: 500px) {
    flex-direction: row;
    align-items: center;
  }

}

.navItem {
  margin: 7px 0;

  @media(min-width: 500px) {
    color: #ffffff;
    display: block;
    margin: 0 10px;
  }
  
}